.container {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  margin: 0;
  min-width: unset;
}

.header {
  height: 50px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#PageNameMain{
  padding-left: 200px;
  padding-top: 60px;
  font: 25px TimesNewRoman;
  -webkit-text-stroke-width: thin;
  padding-top: 35px;
}
div#TableContainer {
  padding-left: 100px;
}
.header_buttons {
  display: flex;
}

.UserName {
  padding-left: 10px;
  font: 18px TimesNewRoman;
  vertical-align: middle;
}

.header-profile {
  border: none;
  background: none;



}

/*Дзвіночок */
#HederBell {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 5px;
}

#BellSpan {
  position: relative;
}

#BellMouseHoverText {
  position: absolute;
  top: 100%;
  left: 0;
  color:black;
  display: none;
  width: 200px ;
  align-self: center;
  z-index: 1;
  border-radius: 10px;
}
/*
#BellSpan:hover #BellMouseHoverText {
  display: block;
}
*/

.header_cell-notification {
  color: white;
  border: none;
  background: none;
}

/* Повідомлення при наведенні */
#Massage {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: black;
  display: flex;
  align-items: center;
}

#Massagetext {
  min-width: 110px;
  min-height: 30px;
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 10px;
  /* Заокруглені кути */
  position: relative;
  /* Потрібно для позиціонування трикутника */
}

#Massagetext::before {
  /* Трикутник зліва */
  content: "";
  position: absolute;
  left: -6px;
  /* Розташування трикутника */
  top: 50%;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #aaaaaa;
  /* Колір трикутника */
}


#Massage>div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#Massage>div>p {
  margin: 0;
}

#Massage>p {

  margin-left: 10px;
}


/*----------------------Профіль наведення---------------------------*/
#HeaderProfileContainer {
  padding-top: 5px;
  position: relative;
  /* Додайте цей рядок */
}

#ProfileMouseHoverText {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #aaaaaa;
  display: none;
  width: 100px;
  z-index: 1;
}

#ProfileSpan:hover #ProfileMouseHoverText {
  display: block;
}





/*мЕЙН*/
a {
  text-decoration: none;
  color: black;
}

.left_side_link_list {

  position: absolute;
  padding-top: 60px;
  display: flex;
  flex-direction: column;

  font-size: 20px;
z-index: 1;
}

.main_left_menu_Dashboard:active,
.main_left_menu_Students:active,
.main_left_menu_Tasks:active {
  font-weight: bold;
}



.PageNameMain {
  padding-top: 40px;
  font-size: 25px;
  padding-left: 100 px;
  font-weight: normal;
}

.lrmw {
  display: flex;
}



button.add {

  width: 40px;
  height: 40px;
  font-size: 30px;

}

.button_add_container {
  position: absolute;

  top: 118px;
  right: 4%;
}
button#installBtn {
  width: auto;
}
html {
  overflow-x: auto;
}

/*Таблиця*/
#TableContainer {
  position: absolute;
  padding-top: 10px;
  overflow-x: auto;
  right: 4%;
  width: -webkit-fill-available;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  padding-right: 20px;
}

td,
th {
  font-size: 2vw;
  border: 1px solid black;
  text-align: center;
}



.Table button {


  width: 40px;
  height: 40px;
}

.icon-button {
  background-color: transparent;

  cursor: pointer;
  font-size: 16px;
  color: #333;

}

.icon-button i {
  margin-right: 5px;
}

.buttonin1row,
.buttonin2row,
.buttonin3row,
.buttonin4row {
  visibility: hidden;
}

/* CSS */
.modal {
  display: none;
  /* Приховано за замовчуванням */
  position: fixed;
  /* Залишайтеся на місці */
  z-index: 1;
  /* Сидіть на вершині */
  padding-top: 100px;
  /* Розташуйте модальне вікно вверху */
  left: 0;
  top: 0;
  width: 100%;
  /* Повна ширина */
  height: 100%;
  /* Повна висота */
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Чорний з невеликим прозорим фоном */
  background-color: rgba(0, 0, 0, 0.4);
  /* Чорний з невеликим прозорим фоном */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.infomodal {

  font: 20px TimesNewRoman;
  display: flex;
  flex-direction: column;
}

#Group {
  width: 120px;
  height: 20px;
}

#fname {
  width: 120px;
  height: 15px;
}

#lname {
  width: 120px;
  height: 15px;
}

#Gender {
  width: 120px;
  height: 20px;
}


@media (min-width:320px) {}



#loginButton {
  background-color: #908888; /* Колір фону */
  border: none; /* Видалення границі */
  color: white; /* Колір тексту */
  padding: 10px 20px; /* Внутрішні відступи */
  text-align: center; /* Вирівнювання тексту по центру */
  text-decoration: none; /* Видалення підкреслення тексту */
  display: inline-block; /* Встановлення блокового відображення */
  font-size: 16px; /* Розмір шрифту */
  cursor: pointer; /* Курсор */
  border-radius: 5px; /* Радіус закруглення кутів */
  transition-duration: 0.4s; /* Додатковий ефект при наведенні курсора */
}

/* Зміна стилю при наведенні курсора */
#loginButton:hover {
  background-color: #6f8270;
}

/* Зміна стилю при натисканні */
#loginButton:active {
  background-color: #747d74;
  transform: translateY(1px); /* Зміщення вниз при натисканні */
}