
.sketchy {
    margin: 1rem 12rem;
    margin-right: 0;

    border: 3px solid #333333;
    /* font-size: 1.5rem; */
    /*border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;*/
    /* text-transform: uppercase; */
    /* letter-spacing: 0.3ch; */
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 30rem;
    align-content: stretch;
    align-items: stretch;
    max-width: 332px;
}
.sketchy2 {
    margin: 1rem 12rem;
    margin-left: 1rem;
    border: 3px solid #333333;
    /* font-size: 1.5rem; */
    /*border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;*/
    /* text-transform: uppercase; */
    /* letter-spacing: 0.3ch; */
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 30rem;
    align-content: stretch;
    align-items: flex-end;
   
}

.boxtextchatroom {
    display: flex;
}

.newchatroombutton {
    font-size: 1rem;
    background: none;
    border: none;
    text-transform: uppercase;
}
.newchatroombutton:active{
    
    font-weight: bold;
}
.MassangerRBox{
    display: flex;
}
/* Стилі для модального вікна */
/* Стилі для модального вікна */
.modal {
    display: none; /* Приховано за замовчуванням */
    position: fixed; /* Залишається на місці */
    z-index: 1; /* Лежить поверх всього іншого */
    padding-top: 100px; /* Розташування */
    left: 0;
    top: 0;
    width: 100%; /* Повна ширина */
    height: 100%; /* Повна висота */
    overflow: auto; /* Додати прокрутку, якщо потрібно */
    background-color: rgb(0,0,0); /* Чорний з невеликим прозорим */
    background-color: rgba(0,0,0,0.4); /* Чорний з невеликим прозорим */
  }
  
  * Змінені стилі для змісту модального вікна */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 1.2em; /* Збільшення розміру шрифту */
}
  
  /* Стилі для кнопки "OK" */
  #okButton {
    display: block;
    width: 100px;
    height: 30px;
    margin: 20px auto;
    
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5;
}

#Massage {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
    height: inherit;
}
.color-transition {
    transition: background-color 0.3s ease; /* Анімація для зміни кольору фону триває 0.3 секунди */
}
#Massage {
    min-width: 270px; 
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 400px; /* Фіксована висота контейнера */
    overflow-y: auto; /* Дозволяє вертикальний скролл при необхідності */
}

#DIALOG {
    min-width: 50rem; 
    padding: 10px 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 400px;
    overflow-y: auto;
    margin-bottom: 60px;
}
#showMembers{
    background: none;
    border: none;
    text-transform: uppercase; 
}





.sketchy2 {
    position: relative; /* збільшуємо контейнер для можливості позиціонування дочірніх елементів */
     
}

.custom-hr {
    height: 0.05rem;
    width: 100%;
    color: black;
    background-color: black;
    margin-top: 0; /* забираємо верхній відступ */
    margin-bottom: 0px; /* додаємо нижній відступ */
}

#messageInputContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
  
    background-color: #f8f9fa;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 40px; /* заокруглення кутів */
}


#messageInput {
    flex: 1; /* введення розтягується на всю доступну ширину */
    padding: 8px; /* відступи всередині поля вводу */
    margin-right: 10px; /* відступ між полем вводу і кнопкою */
    border-radius: 40px;
}

#sendMessageButton {
    padding: 8px 20px; /* відступи всередині кнопки */
    background-color: #007bff; /* колір кнопки */
    color: #fff; /* колір тексту кнопки */
    border: none; /* видалення рамки */
    border-radius: 5px; /* закруглення кутів кнопки */
    cursor: pointer; /* зміна курсору на вказівний */
    transition: background-color 0.3s; /* плавний перехід для зміни коліру при наведенні */
}

#sendMessageButton:hover {
    background-color: #0056b3; /* колір кнопки при наведенні */
}





.message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message .text {
    background-color: #99cfe0;
    padding: 10px;
    border-radius: 10px;
    
}

.message.sender {
    flex-direction: row;
}
.message.sender{
    max-width: 70%;
}

.message.receiver{
    align-self: flex-end;
    max-width: 70%;
}
.message.receiver .text {
    background-color: #e8f4f8;
}
.right .MassangerRBox .sketchy #Massage {
    transition: opacity 0.5s ease-in-out;
  }

  #chatContainer {
    transition: opacity 0.5s ease-in-out; /* Транзиція для прозорості */
}

.clicked {
    background-color: rgb(93, 193, 93);
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}