<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="manifest.json" />
    <script src="pwabuilder-sw.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />

    <title>Lab-Pvi-Chychuk</title>

    <link rel="apple-touch-icon" href="/public/ios/180.png" sizes="180x180" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="styleMessage.css" />
  </head>
  <body>
     <!-- Socket io-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <script src="/socket.io/socket.io.js"></script>    
 <script>
   var socket = io();
 </script>
 <!-- Socket io-->
    <header class="header container">
      <h1 class="CMS">CMS</h1>
      <div class="header_buttons">
        <!---->
        <!--Дзвіночок-->
        <!---->
        <!----------------------------- http://localhost:3000/messages ----------------------------------->
       <a href="http://localhost:3000/messages">

        <%- include('./notification.ejs'); %>


      </a>
        <div id="HeaderProfileContainer">
          <span id="ProfileSpan" class="header-profile">
            <img
              src="assets/profile-circle-svgrepo-com.svg"
              height="40"
              width="40"
              alt=""
            />
            <div id="ProfileMouseHoverText">
              <button
                style="
                  border: none;
                  font-size: 17px;
                  font-family: 'Times New Roman', Times, serif;
                  background: none;
                "
              >
                Profile
              </button>
              <button
                style="
                  border: none;
                  font-size: 17px;
                  font-family: 'Times New Roman', Times, serif;
                  background: none;
                "
              >
                Log Out
              </button>
            </div>
          </span>
        </div>

        <h2 class="UserName">User</h2>
        
      </div>
      <button id="loginButton">Увійти</button>
    </header>

    <main class="main container">
      <div class="lrmw">
        <div class="left_side_link_list">
          <a href="#" class="main_left_menu_Dashboard"> Dashboard</a>
          <a href="#" class="main left menu Students"> Students</a>
          <a href="#" class="main_left_menu_Tasks"> Tasks</a>
        </div>

        <div class="right">
          <p id="PageNameMain">Students</p>
          <div class="button_add_container">
            <button id="myBtn" class="add">+</button>
          </div>
          <div id="TableContainer" class="Table right">
            <table>
              <tr>
                <th><input type="checkbox" /></th>
                <th>Group</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="buttonin1row">
                    <button id="BtnChangeInfo1" class="EditStudent">
                      <img
                        src="assets/pencil-striped-symbol-for-interface-edit-buttons_icon-icons.com_56782 (1).svg"
                        width="25px"
                        height="25px"
                        alt=""
                      />
                    </button>
                    <button id="BtnDelStudent1" class="DelStudent">
                      <img
                        src="assets/x-symbol-svgrepo-com.svg"
                        alt=""
                        width="25px"
                        height="25px"
                      />
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="buttonin2row">
                    <button id="BtnChangeInfo2" class="EditStudent">
                      <img
                        src="assets/pencil-striped-symbol-for-interface-edit-buttons_icon-icons.com_56782 (1).svg"
                        width="25px"
                        height="25px"
                        alt=""
                      />
                    </button>
                    <button id="BtnDelStudent2" class="DelStudent">
                      <img
                        src="assets/x-symbol-svgrepo-com.svg"
                        alt=""
                        width="25px"
                        height="25px"
                      />
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="buttonin3row">
                    <button id="BtnChangeInfo3" class="EditStudent">
                      <img
                        src="assets/pencil-striped-symbol-for-interface-edit-buttons_icon-icons.com_56782 (1).svg"
                        width="25px"
                        height="25px"
                        alt=""
                      />
                    </button>
                    <button id="BtnDelStudent3" class="DelStudent">
                      <img
                        src="assets/x-symbol-svgrepo-com.svg"
                        alt=""
                        width="25px"
                        height="25px"
                      />
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="buttonin4row">
                    <button id="BtnChangeInfo4" class="EditStudent">
                      <img
                        src="assets/pencil-striped-symbol-for-interface-edit-buttons_icon-icons.com_56782 (1).svg"
                        width="25px"
                        height="25px"
                        alt=""
                      />
                    </button>
                    <button id="BtnDelStudent4" class="DelStudent">
                      <img
                        src="assets/x-symbol-svgrepo-com.svg"
                        alt=""
                        width="25px"
                        height="25px"
                      />
                    </button>
                  </div>
                </td>
              </tr>
            </table>
                  <div id="navi"
        class="buttons-change-table-page"
        style="padding-top: 10px;display: flex;justify-content: center;"
      >
        <button><</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>></button>
         <!--<button id="GET"  style=" width: auto;"  >*Отримати данні про всіх студентів на сервері  </button>-->
        <button id="installBtn" onclick="install() " style="visibility: hidden;">Кнопочка</button>

      </div>
          </div>
        </div>
      </div>

     <!-- Модальне вікно -->
<div id="myModal" class="modal" >
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 id="modalTitle" style="font-size: 14">Add Student</h1>
    <hr style="height: 4px; border-width: 0; color: gray; background-color: gray;" />
    <div class="infomodal">
      <div class="add-group">
        <label for="Group">Group:</label>
        <select name="Group" id="Group">
          <option value="PZ-27">PZ-27</option>
          <option value="BD-24">BD-24</option>
          <option value="KI-301">KI-301</option>
          <option value="KI-301">PZ-26</option>
        </select><br /><br />
      </div>
      <div class="FName">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" /><br /><br />
      </div>
      <div class="LName">
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" /><br /><br />
      </div>
      <div class="add-gender">
        <label for="Gender">Gender:</label>
        <select name="Gender" id="Gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select><br /><br />
      </div>
      <div class="add-birthday">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" />
      </div>
    </div>
    <hr style="height: 4px; border-width: 0; color: gray; background-color: gray;" />
    <button id="actionBtn">Create</button>
  </div>
</div>

      <!-- Модальне вікно чи погоджуєтесь ви з видаленням студента -->

      <div id="myModalDeleteStudent" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h1 style="font-size: 14">Warning</h1>
          <hr
            style="
              height: 4px;
              border-width: 0;
              color: gray;
              background-color: gray;
            "
          />
          <div class="infomodal">
            <h2 id="MassageDelStud">Меседж</h2>
          </div>
          <hr
            style="
              height: 4px;
              border-width: 0;
              color: gray;
              background-color: gray;
            "
          />
          <button id="DeketeBtn">Ok</button>
          <button id="DelCancelBtn">Cancel</button>
        </div>
      </div>

      <!-- Модальне вікно Редагування данних студента  -->
      <!---
      <div id="myModalEdit" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h1 style="font-size: 14">Edit Student</h1>
          <hr
            style="
              height: 4px;
              border-width: 0;
              color: gray;
              background-color: gray;
            "
          />
          <div class="infomodal">
            <div class="add-group">
              <label for="Group">Group:</label>
              <select name="Group" id="GroupEdit">
                <option value="PZ-27">PZ-27</option>
                <option value="BD-24">BD-24</option>
                <option value="KI-301">KI-301</option>
                <option value="KI-301">PZ-26</option></select
              ><br /><br />
            </div>
            <div class="FName">
              <label for="fname">First name:</label>
              <input type="text" id="fnameEdit" name="fname" /><br /><br />
            </div>
            <div class="LName">
              <label for="lname">Last name:</label>
              <input type="text" id="lnameEdit" name="lname" /><br /><br />
            </div>
            <div class="add-gender">
              <label for="Gender">Gender:</label>
              <select name="Gender" id="GenderEdit">
                <option value="M">Male</option>
                <option value="F">Female</option></select
              ><br /><br />
            </div>
            <div class="add-birthday">
              <label for="birthday">Birthday:</label>
              <input type="date" id="birthdayEdit" name="birthday" />
            </div>
          </div>
          <hr
            style="
              height: 4px;
              border-width: 0;
              color: gray;
              background-color: gray;
            "
          />
          <button id="SaveBtn">Save</button>
        </div>
      </div>
    -->
    </main>
    <footer class="footer container"></footer>
  </body>

  <script src="student.js"></script>
 
  <script>
    window.onload = function () {
      if ("serviceWorker" in navigator) {
        if (navigator.serviceWorker.controller) {
          console.log(
            "[PWA Builder] active service worker found, no need to register"
          );
        } else {
          // Register the service worker
          navigator.serviceWorker
            .register("pwabuilder-sw.js", {
              scope: "./",
            })
            .then(function (reg) {
              console.log(
                "[PWA Builder] Service worker has been registered for scope:" +
                  reg.scope
              );
            });
        }
      }
    };
  </script>

  <script>
    let deferredPrompt = null;

    window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      deferredPrompt = e;
    });

    async function install() {
      if (deferredPrompt) {
        deferredPrompt.prompt();
        console.log(deferredPrompt);
        deferredPrompt.userChoice.then(function (choiceResult) {
          if (choiceResult.outcome === "accepted") {
            console.log("User PWA has been instaled", choiceResult);
          } else {
            console.log("User choise to not install PWA", choiceResult);
          }
          deferredPrompt = null;
        });
      }
    }
  </script>
</html>
