<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="manifest.json" />
    <script src="pwabuilder-sw.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />



    <title>Lab-Pvi-Chychuk</title>

    <link rel="apple-touch-icon" href="/public/ios/180.png" sizes="180x180" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="styleMessage.css" />
  </head>
  <body>
 <!-- Socket io-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <script src="/socket.io/socket.io.js"></script>    
 <script>
   var socket = io();
 </script>
 <!-- Socket io-->



    <header class="header container">
      <h1 class="CMS">CMS</h1>
      <div class="header_buttons">
        <!---->
        <!--Дзвіночок-->
        <!---->
      
        
          
          <%- include('./notification.ejs'); %>

        
        
        
        <div id="HeaderProfileContainer">
          <span id="ProfileSpan" class="header-profile">
            <img
              src="assets/profile-circle-svgrepo-com.svg"
              height="40"
              width="40"
              alt=""
            />
            <div id="ProfileMouseHoverText">
              <button
                style="
                  border: none;
                  font-size: 17px;
                  font-family: 'Times New Roman', Times, serif;
                  background: none;
                "
              >
                Profile
              </button>
              <button
                style="
                  border: none;
                  font-size: 17px;
                  font-family: 'Times New Roman', Times, serif;
                  background: none;
                "
              >
                Log Out
              </button>
            </div>
          </span>
        </div>

        <h2 class="UserName">User</h2>
      </div>
    </header>

    <main class="main container">
      <div class="lrmw">
        <div class="left_side_link_list">
          <a href="#" class="main_left_menu_Dashboard"> Dashboard</a>
          <a href="http://localhost:3000/students" class="main left menu Students"> Students</a>
          <a href="#" class="main_left_menu_Tasks"> Tasks</a>
        </div>

        <div class="right">
            
          <p id="PageNameMain">Messages</p>
          <div class="MassangerRBox">
          <div class="sketchy">
            <div class="boxtextchatroom">
              <div id="chatTitle" class="oddboxinner" style="
               text-transform: uppercase;
               font-size: 1.5rem;
               letter-spacing: 0.3ch;
               "> Chat room</div>
              <button id="newchatroombutton" class="newchatroombutton"> +New chat room</button>
              
<!-- Модальне вікно -->
<div id="myModal" class="modal">
  <!-- Зміст модального вікна -->
  <div class="modal-content">
    <span class="close">×</span>
    <h2>З ким ви хочете поспілкуватися?</h2>
    <div id="slider" class="slider">
      <!-- Слайдер з користувачами буде заповнено JavaScript -->
    </div>
    <button id="okButton">OK</button>
  </div>
</div>

            </div>
            <hr style="height: 0.05rem;
            width: 100%;
            /* border-width: 11rem; */
            color: black;
            background-color: black;" />
            <div id="Massage">
            
            </div>
            
            </div>
            <div class="sketchy2">
              <div class="boxtextchatroom">
                  <div id="chatTitle2" class="oddboxinner" style="
                      text-transform: uppercase;
                      font-size: 1.5rem;
                      letter-spacing: 0.3ch;
                  "> Chat</div>
                  <button id="showMembers">👥</button>
                  <div id="chatMembers" style="display: none;">
                      Тут поки ще поусто 
                  </div>
              </div>
              <hr class="custom-hr" />
              <div id="DIALOG">

                <img style="align-self: center;" src="https://i.pinimg.com/564x/cc/4d/14/cc4d1490a161fcef9a841d0393ea37d8.jpg" height="200px">
                <H1 style="text-align: center;">Створіть чат ,або натисніть на істубчий щоб почати спілкування</H1>


                
              </div>
              <div id="messageInputContainer">
                  <input type="text" id="messageInput" placeholder="Введіть ваше повідомлення">
                  <button id="sendMessageButton">Відправити</button>
              </div>
          </div>
          
           
          </div>
        
      </div>
      </div>

    </main>
    <footer class="footer container"></footer>
   
  </body>




  <script src="student.js"></script>
  <script src="messages.js"></script>
  <script>
    window.onload = function () {
      if ("serviceWorker" in navigator) {
        if (navigator.serviceWorker.controller) {
          console.log(
            "[PWA Builder] active service worker found, no need to register"
          );
        } else {
          // Register the service worker
          navigator.serviceWorker
            .register("pwabuilder-sw.js", {
              scope: "./",
            })
            .then(function (reg) {
              console.log(
                "[PWA Builder] Service worker has been registered for scope:" +
                  reg.scope
              );
            });
        }
      }
    };
  </script>

   
  <script>
    let deferredPrompt = null;

    window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      deferredPrompt = e;
    });

    async function install() {
      if (deferredPrompt) {
        deferredPrompt.prompt();
        console.log(deferredPrompt);
        deferredPrompt.userChoice.then(function (choiceResult) {
          if (choiceResult.outcome === "accepted") {
            console.log("User PWA has been instaled", choiceResult);
          } else {
            console.log("User choise to not install PWA", choiceResult);
          }
          deferredPrompt = null;
        });
      }
    }
  </script>
</html>
