<!-- notification.ejs -->

<div id="HederBell">
    <span id="BellSpan" class="header_cell-notification">
      <img
        src="assets/notification-bell-svgrepo-com.svg"
        height="40"
        width="40"
        alt=""
      />
      <div id="BellMouseHoverText" style="align-items: center; ">
       
      </div>
    </span>
  </div>
  <script src="notific-js/notification.js"></script>