<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>
<body>


  <div class="container">
    <h1>Реєстрація</h1>
    <p>Заповніть всі поля щоб створити акаунт</p>
    <hr>

    <label for="Name"><b>Ім'я</b></label>
    <input type="text" placeholder="Введіть ім'я" name="name" id="name" required>

    <label for="surname"><b>Прізвище</b></label>
    <input type="text" placeholder="Введіть прізвище" name="surname" id="surname" required>


    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введіть пароль" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Повторіть пароль</b></label>
    <input type="password" placeholder="Введіть пароль знову" name="psw-repeat" id="psw-repeat" required>
    <hr>
    

    <button type="submit" id="registerbtn" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Вже маєте акаунт? <a href="http://localhost:3000/login">Ввійти</a>.</p>
  </div>


</body>
<script src="register.js"></script>
</html>